@{
    ViewBag.Title = "About";
}


<div id="wrapper">

    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>公司简介</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li class="active">公司简介</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <section class="colon3">
        <div class="container">

            <div id="content" class="col-lg-9 col-md-9 col-sm-9">
                <div data-effect="slide-bottom">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h2 class="general-title">
                            <span>关于我们</span>
                        </h2>
                        <p>
                            <strong class="text-warning">苏州陇赣机电工程有限公司</strong>是一家专注於苏州本土的新能源科技公司；从2005年至今公司已经在苏州市场走过了十一个春秋；是空气能热泵本地区的见证者与领导者，拥有丰富的专业人才及雄厚的技术力量，公司从产品的研发，设计，安装及售后均处於同行业的前列；已经在苏州地区拥有八百多家的忠实用户：涵盖工厂宿舍；酒店宾馆，别墅及住宅小区，数年的光阴检验着我们优质的产品及全方位的专业关怀。
                        </p><p>
                            <strong class="text-warning">
                                公司主营业务
                            </strong>：空气能热泵，别墅地源热泵，家用空调及净水业务。
                        </p><p>

                            <strong class="text-warning">
                                服务范围
                            </strong>：空气源热泵；别墅地源热泵的方案设计，销售，安装及接受它牌热泵的售后和维修保养。
                        </p><p>

                            <strong class="text-warning">
                                经营方针
                            </strong>：诚实为本；永续经营，售后比签单重要；售后是责任，能担当责任才能有未来。
                        </p><p>

                            <strong class="text-warning">
                                发展方向
                            </strong>：做苏州最杰出的空气能热泵服务商。
                        </p><p>

                            <strong class="text-warning">
                                独家经营品牌
                            </strong>：申银热泵、长虹热泵。
                        </p><p>

                            我们为用户精挑细选优质的产品及配件，把好质量的每一关；为用户创造实实在在的价值，我们与您一道谱写美好的明天；有您苏州的天会更蓝，更美，更环保。
                        </p>
                    </div>
                </div>
            </div>

            <div id="content" class="col-lg-3 col-md-3 col-sm-6">
                <h2 class="general-title">
                    <span>我们的服务</span>
                </h2>

                <div class="single-stat">
                    <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-bottom">
                        <div class="stat">
                            <span class="stat-count">88</span>
                            <p class="stat-detail">产品数量</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6" data-effect="slide-bottom">
                        <div class="stat">
                            <span class="stat-count">188</span>
                            <p class="stat-detail">成功案例</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="colon3">
        <div class="container">
            
    </section>
</div>
