
@{
    ViewBag.Title = "Advantage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper">

    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>十大优点</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li><a href="#">首页</a></li>
                        <li class="active">十大优点</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>

    <section class="colon3">
        <div class="container">

            <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h2 class="general-title">
                        <span>为什么选择我们?</span>
                    </h2>
                    <ul class="check">
                        <li><span style="padding-bottom:1%;font-size:large">节能：运行费用是电锅炉的1/4、燃油锅炉的1/3、燃气锅炉的1/2，比太阳能热水系统还节能。能效比高，节能效果非常明显。</span></li>
                        <li><span>省钱：热泵机组安装在楼顶或室外，无须建锅炉房，节省土地投资；无须年检和运行附加费；无须燃料运送和存储；无须专人值守；无须复杂的维护、检修、投资回收期短。</span></li>
                        <li><a>安全：热泵机组无燃料泄露、火灾、爆炸等安全隐患。机组内设有高压保护、低压保护、压缩机过滤保护、水温超高温保护、水箱水位自动控制等多重安全保护，从根本上杜绝漏电、干烧、超高温等安全隐患。</a></li>
                        <li><a>环保:热泵机组对环境无任何污染，属于高效节能环保型产品，符合我国能源产业和环境保护政策。</a></li>
                        <li><a>简便：机组全自动智能控制，模块化设计，安装简单，使用方便。</a></li>
                        <li><a>耐用：主机选用名优品牌压缩机、采用五重防锈技术，经久耐用</a></li>
                        <li><a>自动化霜：智能柔性除霜，可以根据不同的地区气候条件设定除霜参数和控制方案，使除霜更彻底、更灵活、更节能。</a></li>
                        <li><a>模块化控制功能：可根据用户实际需要灵活添加多台机组构成的热水供水系统，实现模块化控制，自动调节每台机组运行时间和投入运行的顺序，保证每台机组运行时间一致，整个热水供水系统的高效优质运行。</a></li>
                        <li><a>适用范围广：一年四季全天候工作，不受昼夜、阴晴、风雨气候影响。可满足学校、医院、宾馆、工厂澡堂、家庭小区住宅、洗浴中心等行业热水需要。</a></li>
                    </ul>
                </div>

                <div class="clearfix"></div>


            </div><!-- end content -->
        </div><!-- end container -->

    </section>
</div>

