@{
    ViewBag.Title = "Home Page";
}

<section class="colon1">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="~/images/move1.jpg" data-thumb="~/images/move1.jpg" alt="" />
            <img src="~/images/move2.jpg" data-thumb="~/images/move2.jpg" alt="" />
            <img src="~/images/move3.jpg" data-thumb="~/images/move3.jpg" alt="" data-transition="slideInLeft" />
        </div>

    </div>

</section>