
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <!-- START CONTENT AND SIDEBAR -->
<div class="container general">

    <div id="content" class="single col-lg-12 col-md-12 col-sm-12">
        <iframe style="height:300px" class="google-map" src="http://maps.google.com/?ie=UTF8&amp;ll=40.748151,-73.985131&amp;spn=0.012355,0.021007&amp;t=m&amp;z=16&amp;output=embed"></iframe>

        <div class="divider"></div>

        <h3>
            Contact Details
            <small> Please use details below</small>
        </h3>

        <hr>

        <div class="col-lg-5 col-md-5 col-sm-5">
            <form id="#" action="#">
                <input type="text" class="form-control" placeholder="Name">
                <br>
                <input type="text" class="form-control" placeholder="Last Name">
                <br>
                <input type="text" class="form-control" placeholder="Your Email">
                <br>
                <input type="text" class="form-control" placeholder="Your Phone">
                <br>
                <textarea class="form-control" placeholder="Your Email" rows="5"></textarea>
                <br>
                <button class="btn btn-primary"><i class="icon-envelope-alt"></i> Send Message</button>
            </form>
            <br>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-7">
            <p> Sed rutrum ac leo vel aliquet. Fusce vehicula orci vitae dui posuere, ac luctus tortor aliquam. Morbi ac cursus est. Nam arcu risus, tristique fringilla auctor luctus, congue id felis. Donec at semper turpis. Vivamus id tellus quis massa gravida viverra a vitae urna. Integer facilisis aliquet velit a egestas.</p>

            <p> Sed rutrum ac leo vel aliquet. Fusce vehicula orci vitae dui posuere, ac luctus tortor aliquam. Morbi ac cursus est. Nam arcu risus, tristique fringilla auctor luctus, congue id felis. Donec at semper turpis. Vivamus id tellus quis massa gravida viverra a vitae urna. Integer facilisis aliquet velit a egestas.</p>

            <ul class="contact-details" style="padding-left:10px;">
                <li><strong>Address:</strong> Lorem ipsum dolar sit amet / USA</li>
                <li><strong>Phone:</strong> +0 554 777 78 78</li>
                <li><strong>Email:</strong> hello@designingmedia.com</li>
                <li><strong>View large map:</strong> <a href="#" title="View large map on Google">Google Map</a></li>
            </ul>

            <ul class="pull-left dm-social">
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-facebook" title="Facebook">Facebook</a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-google-plus" title="Google+">Google+</a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-twitter" title="Twitter">Twitter</a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-pinterest" title="Pinterest">Pinterest</a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-linkedin" title="Linkedin">Linkedin</a></li>
                <li><a href="#" data-toggle="tooltip" data-placement="bottom" class="icon-rss" title="Feedburner">RSS</a></li>
            </ul><!-- End Social -->
        </div>


        <div class="clearfix"></div>


    </div><!-- end content -->
</div><!-- end container -->
<!-- END CONTENT -->

