

<div id="wrapper">

    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>新闻中心</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li class="active">新闻中心</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>

    <section class="colon3">
        <div class="container">
            <div class="message text-center" style="background:none;" data-effect="slide-bottom">
                <h2>低温空气能热水器技术助力燃煤锅炉被替换</h2>
            </div>
            <p>

                压缩机是空气能热水器的最核心的部件，空气能热水器能将空气中免费的能量“泵”到水中，进行制热，产生热水，全赖压缩机的作用。因此，压缩机相当于空气能热水器的“心脏”，压缩机性能的好坏，直接影响到热泵产品的整机性能。
                由于压缩机技术的制约，使得部分实力较弱的热泵企业在开拓北方市场时显得力不从心，空气能热水器因此不能在北方普及，使得北方热泵经销商也丧失创富的平台。不过目前研制推出的，代表我国热泵地暖最高技术水平的“智享全能·超低温地暖热泵”，在零下25℃也能稳定运行，能在我国大部分北方地区使用，是北方热泵经销商掘金创富的好法器。
                热泵技术的大升级，让热泵采暖在北方普及成为现实，给北方热泵经销商赢来广阔的创富平台与空间。目前国家特别重视节能减排事业的发展，鼓励热泵采暖能得到广泛使用。如在今年1月，北京政府发布政策明确提出深层地热和燃煤燃油锅炉改用热泵给予50%的资金支持，力争到2017年全市热泵系统供暖面积达7000万平方米。又如今年两会，李克强总理提出淘汰5万台烧煤小锅炉，减轻北方雾霾等等。这些政策下，让热泵采暖赢得发展契机，也为北方热泵经销商带来无限商机。
                媒体资深人士指出，热泵地暖采暖高效节能、绿色环保、舒适暖和，能普遍运用辽阔的北方，不仅让北方热泵经销商深受裨益，也是多方共赢的事。对于行业，可以借机壮大产业规模;对于热泵企业，可获得更多发展空间;对于消费者，则能独享节能、环保、舒适的热泵地暖采暖，而对于国家社会而言，则有利改善环境，推动节能环保事业发展，是利国利民的举措。
            </p>

            <small>上一页：无</small>&nbsp;&nbsp;&nbsp;
            <small>下一页：@Html.ActionLink("低温空气能热水器技术助力", "News")</small>
        </div>
    </section>
</div>

