
<section class="colon14">
    <div class="singleheader">
        <div class="container">
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-title">
                    <h3>新闻中心</h3>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <li>@Html.ActionLink("首页", "Index")</li>
                        <li class="active">新闻中心</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="shadow"></div>
    </div>

    <!-- START CONTENT AND SIDEBAR -->
    <div class="container general">

        <div id="content" class="single col-lg-12 col-md-12 col-sm-12">

            <ul class="timeline">
                <li class="year">2014</li>


                <li class="event offset-first" href="#" >
                    <h4>南方天气转暖 如何避过用电高峰</h4>
                    <p>
                        北方仍处三月雪，南方桃花已盛开。东北三省依然是一片冰寒，部分南方沿海城市却已迎来早春，闽南漳、厦一带甚至一度回暖至20摄氏度。据预测，福建、海南等南方省市在接下来的四月份，气温将达到25摄氏度左右。一旦温度上升，用电高峰便难避免，那么如何应对用电高峰，保证洗浴舒适度与节约性呢？空气能热水器为此提供了良好的解决方式。
                        一、恒温设置益于身
                        尽管南方眼下已经突破20摄氏度大关，然而事实上气温仍然处于不稳定状态，昼夜温差明显。此时不注意洗浴环境，忽略热水器控温，乃至为了满足一时舒适，使用冷水进行淋浴，都大有可能使身体抵抗力下降，引起感冒、发烧等症状。专家建议，在气温不稳定时期，淋浴应当保持40摄氏度左右，使身体得以适当放松而不至于着凉感冒。普通热水器最大的缺陷，便是难以控制水温，水温需要在开启开关一分钟内由冷水渐渐加温至合适温度，放之不用则造成水资源浪费，用于洗浴则容易引起身体不适。相比之下，空气能热水器利用空气能进行内部压缩处理，加热水温，使热水器能够即开即热，保持在合理温度范围内，以此更好地迎合人们的需求。
                        二、节约用电利于财
                        对于大部分人而言，气温升高，则空调、电风扇等大功率电器将频繁使用，用电量将大幅度升高。另外，由于洗浴次数增加，热水器使用率也有所增加。如今水电费一路上涨，节约用电，便成为人们的共识。空气能热水器主要依靠空气能运行工作，只需要少量的电能，安全环保的同时，工作效率为电热水器的2-3倍，为人们日常生活带来了福音。使用空气能热水器大大减少了生活开支，而不影响生活品质。
                        天气转暖，用电高峰，较之使用传统热水器耗费电量，空气能热水器的优势已然相当明显。在即将到来的高温潮中，又是新的销售高峰。
                    </p>
                    <span class="month">4月5日</span>
                </li>

                <li class="event" href="#" >
                    <h4>低温空气能热水器技术助力燃煤锅炉被替换</h4>
                    <p>
                        压缩机是空气能热水器的最核心的部件，空气能热水器能将空气中免费的能量“泵”到水中，进行制热，产生热水，全赖压缩机的作用。因此，压缩机相当于空气能热水器的“心脏”，压缩机性能的好坏，直接影响到热泵产品的整机性能。
                        由于压缩机技术的制约，使得部分实力较弱的热泵企业在开拓北方市场时显得力不从心，空气能热水器因此不能在北方普及，使得北方热泵经销商也丧失创富的平台。不过目前研制推出的，代表我国热泵地暖最高技术水平的“智享全能·超低温地暖热泵”，在零下25℃也能稳定运行，能在我国大部分北方地区使用，是北方热泵经销商掘金创富的好法器。
                        热泵技术的大升级，让热泵采暖在北方普及成为现实，给北方热泵经销商赢来广阔的创富平台与空间。目前国家特别重视节能减排事业的发展，鼓励热泵采暖能得到广泛使用。如在今年1月，北京政府发布政策明确提出深层地热和燃煤燃油锅炉改用热泵给予50%的资金支持，力争到2017年全市热泵系统供暖面积达7000万平方米。又如今年两会，李克强总理提出淘汰5万台烧煤小锅炉，减轻北方雾霾等等。这些政策下，让热泵采暖赢得发展契机，也为北方热泵经销商带来无限商机。
                        媒体资深人士指出，热泵地暖采暖高效节能、绿色环保、舒适暖和，能普遍运用辽阔的北方，不仅让北方热泵经销商深受裨益，也是多方共赢的事。对于行业，可以借机壮大产业规模;对于热泵企业，可获得更多发展空间;对于消费者，则能独享节能、环保、舒适的热泵地暖采暖，而对于国家社会而言，则有利改善环境，推动节能环保事业发展，是利国利民的举措。
                    </p>
                    <span class="month">4月1日</span>
                </li>
                <li class="event" href="#" data-effect="slide-bottom">
                    <h4>空气能成为主流热水器产品是必然趋势</h4>
                    <p>
                        近年来，随着空气能产业的快速崛起，产业迅猛发展对推动国家节能减排事业发展的发挥的作用也越来越突出，国家相关扶持政策对产业的有意倾斜也越来越明显。例如2013年惠民工程，空气能热水器被纳入节能补贴范围，而且是单品补贴最高的产品。总体上来，相比以前，现在国家对空气能产业的扶助政策相对可观许多。但相比发达国家的扶助政策，我国的扶助政策又显得小巫见大巫。
                        相比传统热水器，空气能热水器最大的优势在于节能和环保，2008年出台的《欧洲气候变化协定》就将空气源热泵技术认定为可再生能源。目前，空气能热水器在发达国家的市场已经相当成熟，使用比例高达70%，在消费者当中也有较高的认知度。由于节能效果显著，日本和欧美国家都有优厚的政策性补贴，大力扶持空气能产业。
                        在美国，从2001年开始美国每年安装空气能热水机40万台，并保持每年以10%的速度递增。美国节能法规定，购置空气能热水器等节能环保设备，居民该项支出额的30%可以抵所得税。
                        在法国，2006年规定，利用可再生能源和特定型号热泵设备的系统，则可以享受高达50%的税额减免(包括个人税、餐饮购物等消费税)。
                        在瑞典，2011年宣布，如果用热泵系统替换燃油和电热系统，将能获得政府每台1.2万到2万瑞典克郞(合约1800美元到3000美元)的奖励。
                        在日本，政府规定，向购买空气能热水器的消费者提供财政补贴，购买一台最高补贴可相当于人民币3000元左右。
                        显然，发达国家出台政策对新兴空气能产业的扶持的力度要比我国大得多。严格意义上说，我国空气能热水器产业属于舶来品，是进入新世纪以来才从国外引进，发展历史和认知度都没发达国家的高，更需要国家政府的大力支持。不过，空气能热水器属于高端技术产品，舒适安全、高效节能、绿色环保，代表高品质的生活，随着国民生活水平的提高，空气能成为主流热水器产品也是必然趋势。
                        从近几年来的形势来看，我国空气能产业迎来了最绝佳的发展契机。在政策上，有国家先后出台多项扶助政策，频频“落实”。在行业上，又相继实施热泵热水器能效等级标准等多项行业标准，规范空气能市场秩序。在热泵企业中，也涌现出一大批有国家使命感和社会责任心的热泵企业全面推动空气能行业快速发展，为国家节能环保事业奉献。
                        热泵专家指出，近年来，我国频发雾霾灾害，随着我国环境资源问题的日益严峻，推广空气能热水器也成当务之急。目前，国家政府有意向空气能产业的倾斜，表明我国在发展新能源产业上逐步向发达国家靠拢，与世界同步接轨，加上行业各项制度标准日益完善和热泵企业的共同努力，必将使我国空气能行业稳步走向繁荣，引领发展新风向。
                    </p>
                    <span class="month">3月1日</span>
                </li>
                <li class="event" data-effect="slide-bottom">
                    <h4>低温空气能热水器技术助力燃煤锅炉被替换</h4>
                    <p>
                        压缩机是空气能热水器的最核心的部件，空气能热水器能将空气中免费的能量“泵”到水中，进行制热，产生热水，全赖压缩机的作用。因此，压缩机相当于空气能热水器的“心脏”，压缩机性能的好坏，直接影响到热泵产品的整机性能。
                        由于压缩机技术的制约，使得部分实力较弱的热泵企业在开拓北方市场时显得力不从心，空气能热水器因此不能在北方普及，使得北方热泵经销商也丧失创富的平台。不过目前研制推出的，代表我国热泵地暖最高技术水平的“智享全能·超低温地暖热泵”，在零下25℃也能稳定运行，能在我国大部分北方地区使用，是北方热泵经销商掘金创富的好法器。
                        热泵技术的大升级，让热泵采暖在北方普及成为现实，给北方热泵经销商赢来广阔的创富平台与空间。目前国家特别重视节能减排事业的发展，鼓励热泵采暖能得到广泛使用。如在今年1月，北京政府发布政策明确提出深层地热和燃煤燃油锅炉改用热泵给予50%的资金支持，力争到2017年全市热泵系统供暖面积达7000万平方米。又如今年两会，李克强总理提出淘汰5万台烧煤小锅炉，减轻北方雾霾等等。这些政策下，让热泵采暖赢得发展契机，也为北方热泵经销商带来无限商机。
                        媒体资深人士指出，热泵地暖采暖高效节能、绿色环保、舒适暖和，能普遍运用辽阔的北方，不仅让北方热泵经销商深受裨益，也是多方共赢的事。对于行业，可以借机壮大产业规模;对于热泵企业，可获得更多发展空间;对于消费者，则能独享节能、环保、舒适的热泵地暖采暖，而对于国家社会而言，则有利改善环境，推动节能环保事业发展，是利国利民的举措。
                    </p>
                    <span class="month">2月1日</span>
                </li>
                
                <li class="year">2013</li>
                <li class="event " data-effect="slide-bottom">
                    <h4>xxxxx</h4>
                    <p>
                        压缩机是空气能热水器的最核心的部件，空气能热水器能将空气中免费的能量“泵”到水中，进行制热，产生热水，全赖压缩机的作用。因此，压缩机相当于空气能热水器的“心脏”，压缩机性能的好坏，直接影响到热泵产品的整机性能。
                        由于压缩机技术的制约，使得部分实力较弱的热泵企业在开拓北方市场时显得力不从心，空气能热水器因此不能在北方普及，使得北方热泵经销商也丧失创富的平台。不过目前研制推出的，代表我国热泵地暖最高技术水平的“智享全能·超低温地暖热泵”，在零下25℃也能稳定运行，能在我国大部分北方地区使用，是北方热泵经销商掘金创富的好法器。
                        热泵技术的大升级，让热泵采暖在北方普及成为现实，给北方热泵经销商赢来广阔的创富平台与空间。目前国家特别重视节能减排事业的发展，鼓励热泵采暖能得到广泛使用。如在今年1月，北京政府发布政策明确提出深层地热和燃煤燃油锅炉改用热泵给予50%的资金支持，力争到2017年全市热泵系统供暖面积达7000万平方米。又如今年两会，李克强总理提出淘汰5万台烧煤小锅炉，减轻北方雾霾等等。这些政策下，让热泵采暖赢得发展契机，也为北方热泵经销商带来无限商机。
                        媒体资深人士指出，热泵地暖采暖高效节能、绿色环保、舒适暖和，能普遍运用辽阔的北方，不仅让北方热泵经销商深受裨益，也是多方共赢的事。对于行业，可以借机壮大产业规模;对于热泵企业，可获得更多发展空间;对于消费者，则能独享节能、环保、舒适的热泵地暖采暖，而对于国家社会而言，则有利改善环境，推动节能环保事业发展，是利国利民的举措。
                    </p>
                    <span class="month">12月11日</span>
                </li>
            </ul>
        </div><!-- end content -->

    </div><!-- end container -->
    <!-- END CONTENT -->

</section>
