.zoombox-maincon {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10001;
  width: 100%;
  height: 100%; }

.zoombox-maincon .zoombox-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  background: rgba(0, 0, 0, 0.2);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xNiIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.16) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0.16)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.16) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.16) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.16) 100%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.16) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#29000000',GradientType=1 );
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out; }

.zoombox-maincon .zoombox-bg.pureblack {
  background: #000; }

.zoombox-maincon .holder-con {
  position: absolute;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out; }

.zoombox-maincon.noanim .holder-con {
  transition-property: none;
  -webkit-transition-property: none; }

.zoombox-maincon .holder-con > .close-btn, .zoombox-maincon .holder-con .social-btn {
  display: block;
  position: absolute; }

.zoombox-maincon .holder {
  display: block;
  width: 100px;
  height: 100px;
  position: relative;
  transition-property: width, height, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-property: width, height, transform;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: width, height, transform;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: width, height, transform;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: width, height, transform;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out; }

.zoombox-maincon.noanim .holder {
  transition-property: none;
  -webkit-transition-property: none; }

.zoombox-maincon.noanim .holder-bg {
  transition-property: none;
  -webkit-transition-property: none; }

.zoombox-maincon .holder.type-image {
  cursor: move;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  cursor: url(img/gamma-zoombox-zoomit.png) 4 4, zoom-in; }

.zoombox-maincon .bigimage-con > img {
  cursor: move;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
  cursor: url(img/gamma-zoombox-zoomout.png) 4 4, zoom-out; }

.zoombox-maincon .holder.type-iframe {
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.zoombox-maincon div.holder.type-inlinecontent {
  background: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.zoombox-maincon div.holder.type-inlinecontent > * {
  width: 100%;
  height: 100%;
  overflow-y: auto; }

.zoombox-maincon .holder.type-iframe > iframe {
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.zoombox-maincon .holder.type-inlinecontent > .the-item > * {
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.zoombox-maincon .holder .preloader {
  width: 128px;
  height: 40px;
  background: transparent url(img/preloader.gif) center center no-repeat;
  margin-left: -64px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  left: 50%; }

.zoombox-maincon .holder > .the-item {
  display: block;
  transform-origin: top left;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out; }

.zoombox-maincon .bigimage-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.zoombox-maincon .bigimage-con:empty {
  display: none; }

.zoombox-maincon .bigimage-con > img {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: all;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.zoombox-maincon .gallery-menu-con {
  position: fixed;
  bottom: 0;
  width: 100%; }

/* estethic styling */
.zoombox-maincon:empty {
  display: none; }

.zoombox-maincon.disabled {
  display: none; }

.zoombox-maincon .holder {
  background: #fff; }

.zoombox-maincon .holder-con.pastHolder {
  left: -50%;
  opacity: 0; }

.zoombox-maincon .holder-con {
  top: 0;
  left: 0;
  border: 5px solid white;
  border-radius: 0px;
  box-shadow: 0 0 20px 0 black;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%; }

.zoombox-maincon .holder-con > .holder-text {
  position: absolute;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial;
  font-size: 14px;
  top: -25px;
  left: 0;
  color: #111;
  opacity: 0.8; }

.zoombox-maincon .holder-con > .close-btn {
  top: 10px;
  right: 5px;
  width: 25px;
  height: 25px;
  background: transparent url(img/zoombox-close.png) no-repeat center center;
  border: 2px solid #222;
  border-radius: 0px;
  cursor: pointer; }

.zoombox-maincon .holder-con > .close-btn {
  top: 10px;
  right: -35px;
  border: 5px solid white;
  border-radius: 0px; }

.zoombox-maincon .holder > .the-item {
  opacity: 0; }

.zoombox-maincon .holder > img.the-item {
  opacity: 0;
  transform: scale(0.1); }

.zoombox-maincon .holder.loaded > img.the-item {
  transform: scale(1); }

.zoombox-maincon .holder.loaded > .preloader {
  transition-property: opacity, display;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, display;
  -moz-transition-duration: 1s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, display;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, display;
  -o-transition-duration: 1s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, display;
  -ms-transition-duration: 1s;
  -ms-transition-timing-function: ease-out; }

.zoombox-maincon .holder.loaded > .preloader {
  opacity: 0;
  display: none; }

.zoombox-maincon .holder.loaded > .the-item {
  opacity: 1;
  width: 100%;
  height: 100%; }

.zoombox-maincon .holder-con.nobg .holder-bg {
  display: none; }

.zoombox-maincon .holder-con.nobg .holder {
  background: transparent; }

.zoombox-maincon .holder-con.nobtnsocial .social-btn {
  display: none; }

.zoombox-maincon .holder-con.nobtnclose .close-btn {
  display: none; }

.zoombox-maincon .holder-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0; }

.zoombox-maincon .con-zoomboxArrows .zb-arrow-left {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(img/arrow-left-90.png);
  cursor: pointer;
  margin-top: -25px; }

.zoombox-maincon .con-zoomboxArrows .zb-arrow-right {
  position: absolute;
  top: 50%;
  right: 15px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(img/arrow-right-90.png);
  cursor: pointer;
  margin-top: -25px; }

.zoombox-maincon div.holder.type-notification {
  background: #fff; }

.zoombox-maincon .holder.type-notification .the-sizer {
  padding: 10px;
  min-width: 200px;
  text-align: center; }

.zoombox-maincon.skin-gamma .holder-con {
  top: 0;
  left: 0;
  border: 0px solid rgba(255, 255, 255, 0.27);
  border-radius: 3px;
  box-shadow: 0 0 0px 0 black;
  margin-left: -50px;
  margin-top: -50px;
  top: 50%;
  left: 50%; }

.zoombox-maincon.skin-gamma .holder {
  background-color: transparent; }

.zoombox-maincon.skin-gamma .holder-bg {
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition-property: width, height, margin-left, margin-top;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-property: width, height, margin-left, margin-top;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: width, height, margin-left, margin-top;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: width, height, margin-left, margin-top;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: width, height, margin-left, margin-top;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out; }

.zoombox-maincon.skin-gamma .holder.type-iframe {
  background: #fff; }

.zoombox-maincon.skin-gamma .holder-con > .close-btn {
  top: -25px;
  right: -25px;
  width: 22px;
  height: 22px;
  background: transparent url(img/gamma-zoombox-close.png) no-repeat center center;
  border: 0px solid #222;
  border-radius: 0px;
  cursor: pointer;
  background-size: cover; }

.zoombox-maincon.skin-gamma .holder-con .social-btn {
  top: 0;
  right: -25px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  background-image: url(img/gamma-zoombox-btn-social.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 0px solid #222;
  border-radius: 50%;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  -moz-transition-property: background;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: background;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: background;
  -ms-transition-duration: 0.5s;
  -ms-transition-timing-function: ease-out; }

@media all and (max-width: 481px) {
  .zoombox-maincon.skin-gamma .holder-con > .close-btn {
    width: 33px;
    height: 33px; }

  .zoombox-maincon.skin-gamma .holder-con .social-btn {
    top: 22px;
    width: 33px;
    height: 33px; } }
.zoombox-maincon.skin-gamma .holder-con .social-btn.active {
  background-color: rgba(255, 255, 255, 0.3); }

.zoombox-maincon.skin-gamma .con-zoomboxArrows .zb-arrow-left {
  background-color: rgba(255, 255, 255, 0.27);
  border: 1px solid rgba(255, 255, 255, 0.1); }

.zoombox-maincon.skin-gamma .con-zoomboxArrows .zb-arrow-right {
  background-color: rgba(255, 255, 255, 0.27);
  border: 1px solid rgba(255, 255, 255, 0.1); }

.con-dropdowner {
  position: relative; }

.con-dropdowner .auxpadder {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 94; }

.con-dropdowner .dropdowner {
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 95;
  background: #fff;
  padding: 10px 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  visibility: hidden;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, visibility;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, visibility;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, visibility;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, visibility;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.con-dropdowner .auxpadder {
  position: absolute;
  top: 0;
  right: -25px;
  width: 40px;
  height: 50px; }

.con-dropdowner .dropdowner.forright {
  top: -2px;
  right: 10px; }

.con-dropdowner .dropdowner:after, .con-dropdowner .dropdowner:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.con-dropdowner .dropdowner:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 7px;
  right: 10%;
  margin-left: -7px; }

.con-dropdowner .dropdowner.forright:after {
  border-bottom-color: transparent;
  border-left-color: #fff;
  right: -14px;
  top: 5px; }

con-dropdowner .dropdowner:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(0, 0, 0, 0.8);
  border-width: 9px;
  right: 10%;
  margin-left: -9px; }

con-dropdowner .dropdowner.forright:before {
  border-bottom-color: transparent;
  border-left-color: rgba(0, 0, 0, 0.8);
  right: -14px;
  top: 5px; }

.con-dropdowner:hover .dropdowner {
  visibility: visible;
  opacity: 1; }

.zoombox-maincon.skin-gamma .social-options-con {
  position: absolute;
  top: 2px;
  right: 0px; }

.zoombox-maincon.skin-gamma .social-options-con .dropdowner {
  width: 300px; }

.thumb20 {
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
  margin-right: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * Author: Digital Zoom Studio
 * Product: DZS Dock
 * Website: http://digitalzoomstudio.net/
 * Portfolio: http://bit.ly/nM4R6u
 *
 * Version: 0.50
 */
/* -- functional styling */
.dzsdock {
  position: relative;
  width: 100%; }

.dzsdock .item-tobe {
  position: relative; }

.dzsdock .items > span {
  position: relative; }

.dzsdock .items > span > img {
  width: 100%;
  display: block; }

/* -- estethic styling */
.dzsdock-con {
  position: fixed;
  bottom: 0;
  left: 0; }

.dzsdock .items {
  transition-property: opacity, left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, left;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, left;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, left;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, left;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out;
  text-align: left;
  position: relative; }

.dzsdock .dzsdock-clip {
  width: 100%;
  overflow: hidden; }

.dzsdock .items > * {
  margin: 0;
  border: 0;
  /*
  display: block;
  float:left;
  display: table-cell;
  */
  width: 0;
  display: inline-block;
  vertical-align: bottom;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -moz-transition-property: width;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: width;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: width;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: width;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: ease-out; }

.dzsdock .items:after {
  content: " ";
  display: block;
  clear: both; }

.dzsdock .hero-icon {
  background-color: rgba(50, 50, 50, 0.9);
  width: 36px;
  height: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -18px;
  margin-top: -18px;
  border-radius: 50%;
  background-size: cover;
  display: block;
  background-position: center center; }

.dzsdock .icon-video {
  background-image: url(img/hero-type-video.png); }

.lightboxanchor {
  display: inline-block; }

div[class*="lightboxicon-"] {
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat; }

.lightboxicon-twitter {
  background-image: url(img/tweet.png); }

.lightboxicon-googleplus {
  background-image: url(img/google-plus-1.png); }

.dzsdock.skin-default .items > * {
  border: 3px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
  cursor: pointer; }

.dzsdock.skin-default .items > *.activecss {
  border: 3px solid rgba(255, 255, 255, 0.75); }

/* ==== thumb styling */
.thumb-gamma {
  border: 10px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */ }

.cimage-fullwidth img:first-child {
  width: 100%; }

.thumb-title {
  text-align: center; }

.thumb-subtitle {
  text-align: center;
  margin-top: 2px;
  opacity: 0.5;
  margin-bottom: 7px; }

.no-animation {
  transition-duration: 0s !important;
  -moz-transition-duration: 0s !important;
  -webkit-transition-duration: 0s !important;
  -o-transition-duration: 0s !important;
  -ms-transition-duration: 0s !important; }

.effect-justopacity > img:first-child {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.effect-justopacity:hover > img:first-child {
  opacity: 0.7; }

.effect-icona {
  position: relative;
  display: block; }

.effect-icona > img {
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, transform;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, transform;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, transform;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.effect-icona:hover > img {
  opacity: 0.8; }

.effect-icona .zoomcon-enlarge {
  background-color: rgba(181, 67, 33, 0.7);
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px;
  border-radius: 50%;
  background-size: cover;
  display: block;
  background-position: center center;
  background-image: url(img/icon-enlarge.png);
  transform: rotate(30deg) scale(0.5);
  -ms-transform: rotate(30deg) scale(0.5);
  /* IE 9 */
  -webkit-transform: rotate(30deg) scale(0.5);
  /* Safari and Chrome */
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  -moz-transition-property: opacity, transform;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
  -webkit-transition-property: opacity, transform;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-property: opacity, transform;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-out;
  -ms-transition-property: opacity, transform;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-out; }

.effect-icona:hover > div.zoomcon-enlarge {
  transform: rotate(0) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  /* IE 9 */
  -webkit-transform: rotate(0deg) scale(1);
  /* Safari and Chrome */
  opacity: 0.8; }

.effect-icona.for-playbtn .zoomcon-enlarge {
  transform: rotate(0deg) scale(0.5);
  -ms-transform: rotate(0deg) scale(0.5);
  /* IE 9 */
  -webkit-transform: rotate(0deg) scale(0.5);
  /* Safari and Chrome */
  background-image: url(img/icon-playbtn.png); }

.the-item.type-inlinecontent .span6 {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%; }

.hidden {
  display: none; }

.toexecute {
  display: none; }
